pickleshare==0.7.5
Flask==1.0.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
arrow==0.15.6
celery==4.4.2
celery-with-redis==3.0
eventlet==0.25.2
upyun==2.5.5
pymongo==3.10.0
pymysql
redis==3.3.11
gunicorn
gevent


